{% extends 'ruta/rutas.html' %}

{% block content %}

<form method="POST" action="{% url 'upload_stage' %}">
   {% csrf_token %}
    <br><br><br>
     <div class="row">
          <div class="col-md-5 col-md-offset-2">
              <div class="form-group">
                <label for="first_name">Stage Number</label>
                <input type="text" class="form-control" id="numero_etapa" name="numero_etapa">
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-5 col-md-offset-2">
              <div class="form-group">
                <label for="first_name">Stage Title</label>
                <input type="text" class="form-control" id="titulo_etapa" name="titulo_etapa">
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-5 col-md-offset-2">
              <div class="form-group">
                <label for="last_name">Stage Description</label>
                <input type="text" class="form-control" id="descripcion_etapa" name="descripcion_etapa">
              </div>
          </div>
      </div>
      <div class="row" style="display:none">
          <div class="col-md-5 col-md-offset-2">
              <div class="form-group">
                <label for="last_name">Stage Ruta ID</label>
                <input type="text" class="form-control" id="id_ruta" name="id_ruta" value="{{ruta_data.id}}">
              </div>
          </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <br><br>
    </form>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

{% endblock content %}
