{% extends 'ruta/rutas.html' %}

{% block content %}

<center>
    <br><br><br>
    <h2 style="color:#34626c">Sign up</h2>
    <br>
</center>

<div class="container well">
    <form method="POST">
        <!--{{ form.as_p }}-->
        {% csrf_token %}

      <div class="row">
          <div class="col-md-5 col-md-offset-2">
              <div class="form-group">
                <label for="first_name">Name</label>
                <input type="text" class="form-control" id="first_name" name="first_name">
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-5 col-md-offset-2">
              <div class="form-group">
                <label for="last_name">Surname</label>
                <input type="text" class="form-control" id="last_name" name="last_name">
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-5 col-md-offset-2">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4 col-md-offset-2">
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username">
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4 col-md-offset-2">
              <div class="form-group">
                <label for="password1">Password</label>
                <input type="password" class="form-control" id="password1" name="password1">
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4 col-md-offset-2">
              <div class="form-group">
                <label for="password2">Password confirmation</label>
                <input type="password" class="form-control" id="password2" name="password2">
              </div>
          </div>
      </div>


        <!--
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
        -->

      <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>
    <br>
<center>
    <a href="/login">Login</a>
    <br><br><br>
</center>

{% endblock content %}