{% extends 'ruta/base.html' %}

{% block title_head %}Upload Form{% endblock title_head %}

{% block content %}

    <center>
        <br><br>
        <h1 class="display-4 text-center alert alert-light" style="color:#34626c;">Upload Rutas</h1>
        <hr>

        <form method = 'POST' enctype="multipart/form-data">
            {% csrf_token %}

            <table class = 'w-50 table table-light' style="border-radius:10px;background-color:#cfd3ce;color:#34626c;">
                {% for field in ruta_form %}

                    {% if field.name == 'id_usuario' %}
                        <tr style="display:none">
                            <th>Id usuario</th>
                            <td><input type="text" name="id_usuario" maxlength="10" required="" id="id_id_usuario" value="{{request.user.id}}"></td>
                            <td></td>
                        </tr>
                    {% else %}
                        <tr>
                            <th>{{field.label}}</th>
                            <td>{{ field }}</td>
                            <td>{{ field.help_text }}</td>
                        </tr>
                    {% endif %}

                {% endfor %}
            </table>
            <button type="submit" class="btn btn-lg btn-warning">Submit</button>
        </form>

    </center>
    <br><br><br>

{% endblock %}